
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>
          <input
            type="text"
            name="firstName"
            class="form-control"
            placeholder="First Name"
            formControlName="firstName"
            required
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          <input
            type="text"
            name="lastName"
            class="form-control"
            placeholder="Last Name"
            formControlName="lastName"
            required
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          <input
            type="text"
            name="streetAddress"
            class="form-control"
            placeholder="Street Address"
            formControlName="streetAddress"
            required
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          <input
            type="text"
            name="city"
            class="form-control"
            placeholder="City"
            formControlName="city"
            required
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          <input
            type="text"
            name="state"
            class="form-control"
            placeholder="State"
            formControlName="state"
            required
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          <input
            type="text"
            name="zipcode"
            class="form-control"
            placeholder="Zipcode"
            formControlName="zipcode"
            required
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          <input
            type="text"
            name="phone"
            class="form-control"
            placeholder="Phone"
            formControlName="phone"
            required
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            required
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          <input
            type="date"
            name="date"
            class="form-control"
            placeholder="MM-DD-YYYY"
            formControlName="date"
            required
          />
        </label>
      </div>
      <div class="form-group">
        <label>
          <input
            type="number"
            name="age"
            class="form-control"
            placeholder="Age"
            formControlName="age"
            required
          />
        </label>
      </div>
      <div class="form-group">
        <p>How did you come to know and got interested in University?</p>
          <label>
            <input
              formControlName="interested"
              value="Friends"
              type="radio"
              class="input-radio"
              checked
            />Friends
          </label>
          <label>
            <input
              formControlName="interested"
              value="Television"
              type="radio"
              class="input-radio"
            />Television
          </label>
        <label>
          <input
            formControlName="interested"
            value="Internet"
            type="radio"
            class="input-radio"
          />Internet
        </label>
        <label>
          <input
            formControlName="interested"
            value="Other"
            type="radio"
            class="input-radio"
          />Other
        </label>
      </div>
      <div class="form-group">
        <p>
          What liked the most in the campus?
          <span class="clue">(Check all that apply)</span>
        </p>
        <label>
          <input 
            formControlName="preferStudents" 
            value="students" 
            type="checkbox" 
            class="input-checkbox"
          />students
        </label>
        <label>
          <input 
            formControlName="preferLocation" 
            value="location" 
            type="checkbox" 
            class="input-checkbox" 
          />location
        </label>
        <label>
          <input 
            formControlName="preferCampus" 
            value="campus" 
            type="checkbox" 
            class="input-checkbox"
          />campus
        </label>
        <label>
          <input 
            formControlName="preferAtmosphere" 
            value="atmosphere"
            type="checkbox"
            class="input-checkbox"
          />atmosphere
        </label>
        <label>
          <input 
            formControlName="preferDormroom"  
            value="dorm room"  
            type="checkbox"  
            class="input-checkbox"
          />dorm room
        </label>
        <label>
          <input 
            formControlName="preferSports"  
            value="sports"  
            type="checkbox"  
            class="input-checkbox" 
          />sports
        </label>
      </div>
      <div class="form-group">
        <p>
          How likely would you recommend George Mason University?
        </p>
        <select id="most-like" name="mostLike" formControlName="recommendOption" required>        
            <option value= "" disabled selected value>Select an option</option>
            <option *ngFor="let recommend of Recommend" [ngValue]="recommend">
              {{ recommend }}
            </option>
          </select>
      </div>
      <div class="form-group">
        <p>Enter random 10 comma separated values between 1 and 100 to win Raffle prizes</p>
        <textarea
          class="input-textarea"
          formControlName="randomNumber"
          placeholder="1,8,43,76,99,..."
        ></textarea>
      </div>
      <div class="form-group">
        <p>Any comments or suggestions?</p>
        <textarea
          class="input-textarea"
          formControlName="comment"
          placeholder="Enter your comment here ..."
        ></textarea>
      </div>  
      <input type = "submit" value = "Send">
    </form>
      
      