<p style="padding: 13px;">
    An Angular 11 example application that demonstrates how to use HttpClient to consume REST APIs
    </p>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <input type = "text" name = "firstName" placeholder = "First Name" formControlName="firstName" >
        <br/>
        <input type = "text" name = "lastName" placeholder = "Last Name" formControlName="lastName" >
        <br/>
        <input type = "text" name = "streetAddress" placeholder = "Street Address" formControlName="streetAddress" >
        <br/>
        <input type = "text" name = "city" placeholder = "City" formControlName="city" >
        <br/>
        <input type = "text" name = "state" placeholder = "State" formControlName="state" >
        <br/>
        <input type = "text" name = "zipcode" placeholder = "Zipcode" formControlName="zipcode" >
        <br/>
        <input type = "text" name = "phone" placeholder = "Phone" formControlName="phone" >
        <br/>
        <input type = "email" name = "email" placeholder = "Email" formControlName="email" >
        <br/>
        <input type = "date" name = "email" placeholder = "MM-DD-YYYY" formControlName="date" >
        <br/>
        <input type = "number" name = "age" placeholder = "Age" formControlName="age" >


        <br/>
        
        
        <br/>


    <div class="form-group">
        <p>How did you come to know and got interested in University?</p>
        <label>
          <input
            
            formControlName="interested"
            value="Friends"
            type="radio"
            class="input-radio"
            checked
          />Friends</label>
        <label>
          <input
           
            formControlName="interested"
            value="Television"
            type="radio"
            class="input-radio"
          />Television</label>
        <label><input
            
            formControlName="interested"
            value="Internet"
            type="radio"
            class="input-radio"
          />Internet</label>
        <label><input
            
            formControlName="interested"
            value="Other"
            type="radio"
            class="input-radio"
          />Other</label
        >
      </div>
  
      <div class="form-group">
        <p>
          What liked the most in the campus?
          <span class="clue">(Check all that apply)</span>
        </p>
  
        <label><input formControlName="preferStudents" value="students" type="checkbox" class="input-checkbox" />students</label>
        <label><input formControlName="preferLocation" value="location" type="checkbox" class="input-checkbox" />location</label>
        <label><input formControlName="preferCampus" value="campus" type="checkbox" class="input-checkbox"  />campus</label>
        <label><input formControlName="preferAtmosphere" value="atmosphere"type="checkbox"class="input-checkbox"/>atmosphere</label>
        <label><input formControlName="preferDormroom"  value="dorm room"  type="checkbox"  class="input-checkbox"/>dorm room</label>
        <label><input formControlName="preferSports"  value="sports"  type="checkbox"  class="input-checkbox"/>sports</label>
  
      </div>


    <div class="form-group">
        <p>
          How likely would you recommend George Mason University?
        </p>
        <select id="most-like" name="mostLike" formControlName="recommendOption" required>
          
          <option value= "" disabled selected value>Select an option</option>
          <option *ngFor="let recommend of Recommend" [ngValue]="recommend">
            {{ recommend }}
          </option>
         </select>
      </div>




      <div class="form-group">
        <p>Enter random 10 comma separated values between 1 and 100 to win Raffle prizes</p>
        <textarea
          class="input-textarea"
          formControlName="randomNumber"
          placeholder="1,8,43,76,99,..."
        ></textarea>
      </div>

      <div class="form-group">
        <p>Any comments or suggestions?        </p>
        <textarea
          class="input-textarea"
          formControlName="comment"
          placeholder="Enter your comment here ..."
        ></textarea>
      </div>
  
        <input type = "submit" value = "Send">
      </form>
      
      